html,body{
    font-family: monospace;
	background-color: #222222;
	color: #00ff00;
}
#login{
    width: 180px;
    margin: 0 auto;
}
.cm{
    font-size: 200%;
    margin: 0 auto;
    color: #00aa00;
    font-weight: 900;
    display: block;
    text-align: center;
}
.fomori{
    text-decoration: none;
    color: #009900;
    border-bottom: 1px dotted #009900;
}
input{
	background-color: #000000;
	border: 0;
	margin: 2px;
	color: #00aa00;
	border: 1px solid #00aa00;
}