<div>
  <button type="button" class="btn-transparent btn-xs dropdown-toggle" data-toggle="dropdown">    <span class="caret"></span>  </button>
  <span ng-click="onPlay()">
    <span ng-if="file.meta_title">
        {{ file.meta_duration | timeformat }}
        {{ file.meta_track }}
        {{ file.meta_artist }} - {{ file.meta_title }}
    </span>
    <span ng-if="!file.meta_title">
        {{ file.filename }}
    </span>
  </span>
  <a class="jp-playlist-item-remove" ng-click="onRemove()">x</a>
</div>