.TrackListItem {
  width: 100%;
}

.Path {
  font-weight: 500;
  font-size: 0.8em;
  color: #888;
}

.Duration {
  width: 50px;
  vertical-align: top;
}

.Artist {
  width: 50%;
}

.Title {
  width: 50%;
}
