[media]
BASEDIR=/home/harpo/Music
DOWNLOADABLE=zip bz2 gz tar
PLAYABLE=mp3 ogg wma flac
VIEWABLE=jpg gif png

[search]
ENABLED=True
CACHEFILE=cherry.cache.db
MAXRESULTS=20

[browser]
MAXSHOWFOLDERS=100

[server]
HOSTALIAS=host
port=8080
logfile = site.log

[crypto]
salt=
