[media]
##########################################################
; BASEDIR specifies where the media that should be
; served is located. It must a the absolute path, e.g.
; BASEDIR=/absolute/path/to/media
BASEDIR=/absolute/path/to/media

; PLAYABLE is a space separated list of media file
; extensions that can be played by jPlayer.
PLAYABLE=mp3 ogg wma flac


[search]
##########################################################
; CACHEFILE specifies the filename of the file
; database
CACHEFILE=cherry.cache.db

; MAXRESULTS set the maximum amount of search results
; to be displayed. If MAXRESULTS is set to a higher value,
; the search will take longer, but also more accurate.
; 100 is a good value, as a cd can have up to 99 tracks.
MAXRESULTS=20

[look]
; Available themes are:
;   - zeropointtwo
;   - hax1337
; To create your own theme, you can simply copy the theme
; to ~/.cherrmusic/themes/yournewtheme and modify it to
; your will. Then you can set theme=yournewtheme
theme=zeropointtwo


[browser]
##########################################################
; MAXSHOWFILES specifies how many files and folders should
; may be shown at the same time. E.g. if you open a folder
; with more than MAXSHOWFILES, the files will be grouped 
; according to the first letter in their name
MAXSHOWFILES=20


[server]
##########################################################
; The port the server will listen to
port=8080

; the logfile in which errors will be logged
logfile = site.log

; when localhost_only is set to true, the server will not
; be visible in the network and only play music on the
; same computer it is running on
localhost_only = False

; The following options allow you to use cherrymusic with
; https encryption. You must have "pyOpenSSL" installed to
; be able to use it. If use_ssl is set to False, all other
; options will be ommited.
use_ssl = False
; The port that will listen to SSL encrypted requests. If
; use_ssl is set to True, all unencrypted HTTP requests
; will be redirected to this port.
ssl_port = 8443
ssl_certificate = certs/server.crt
ssl_private_key = certs/server.key

[crypto]
##########################################################
salt=
