html,body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    font-family: monospace;
}
.fomori{
    text-decoration: none;
    color: #F02E75;
    border-bottom: 1px dotted #F02E75;
}

.cm{
    font-size: 200%;
    margin: 0 auto;
    color: #F02E75;
    font-weight: 900;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}

.credentials{
    position:absolute;
    top:210px;
    left:0;
}
.credentials input{
    width: 100%;
    font-size: 150%;
}

#login{
    height: 100%;
    display: table;
    width: 240px;
    margin: 0 auto;
}

.logo{
    background-image: url("img/cherrymusic_logo_big.png");
    background-repeat: no-repeat;
    position:relative;
    height: 100%;
    width: 100%;
    max-height: 480px;
    background-position: 50% 0;
}

.bgwhite{
    background-color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}