.cm-media-list {
  position: relative;
  padding: 0;
}
.cm-media-list-busy {
  overflow: hidden;
  background-image: url("../img/cherrymusic_loader.gif");
  background-position: 50% 120px;
  background-repeat: no-repeat;
}
.cm-media-list-category {
  position: relative;
}
.cm-media-list a {
  text-decoration: none;
}
.cm-media-list-item {
  list-style-type: none;
  word-wrap: break-word;
  margin: 5px 5px 5px 0;
}
.cm-media-list-wrench {
  position: relative;
  display: inline;
  float: left;
  color: #fff;
  padding: 0 2px;
}
.cm-media-list-wrench:hover {
  color: #444;
  cursor: pointer;
}
.cm-media-list > li:nth-child(odd) {
  background-color: #f9f9f9;
}
.cm-media-list > li:nth-child(even) {
  background-color: #eeeeee;
}
.cm-media-list-parent {
  display: block;
  height: 50px;
  font-size: 30px;
  padding: 5px 10px;
}
.cm-media-list-parent:hover {
  background-color: #777777;
}
.cm-media-list-parent-item {
  margin-bottom: 20px;
}
.cm-media-list-view-change-buttons {
  display: inline-block;
  margin: -10px 0 0px 5px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.bg-primary {
  background-color: #92BCE0;
  color: #000;
}
.btn-transparent {
  background-color: transparent;
  border: 0px none;
}
#playlist-panel {
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
}
.playlist-tab-list {
  background-color: #222;
  padding-top: 1px;
}
.playlist-tab-inactive a {
  background-color: #ddd;
}
.playlist-tab-closer {
  font-size: 20px;
  height: 0;
  line-height: 0;
  margin-left: 8px;
}
.playlist-tab-closer:hover {
  font-weight: 900;
}
.playlist-tab-new a {
  height: 41px;
}
.playlist-tab-border-left {
  border-left: 1px solid #ddd;
}
#playlistCommands {
  padding: 5px;
}
.playlist-container {
  padding: 0;
}
.playlist-container-parent {
  padding: 0 10px;
}
.playlist-container-list {
  /* leave room for one playlist item at the end, so that the
        automatic scrolling does not need to be triggered twice */
  padding: 0 0 20px 0;
}
.playlist-container-list > li {
  list-style-type: none;
  margin: 5px 0;
  padding: 0 5px;
  min-height: 20px;
}
.playlist-container .jp-playlist-item {
  display: block;
}
.playlist-container .jp-playlist-item:hover {
  text-decoration: none;
}
.playlist-container .jp-playlist-item-remove {
  float: right;
  font-size: 20px;
  line-height: 15px;
  display: block;
  color: #888;
}
.playlist-container .jp-playlist-item-remove:hover {
  text-decoration: none;
  color: #000;
}
.playlist-container .jp-playlist-item-action {
  float: left;
}
.playlist-container .jp-playlist-current {
  background-color: #78acd9;
  color: #000000;
}
.playlist-container .jp-playlist-playtime {
  float: left;
  margin: 0 5px 0 0;
}
@media (min-width: 950px) {
  .playlist-container-parent {
    position: fixed;
    bottom: 70px;
    top: 150px;
    overflow: auto;
    width: 50%;
  }
  #playlist-panel {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50%;
  }
  #search-panel {
    position: fixed;
    top: 50px;
    bottom: 70px;
    overflow: auto;
  }
}
@media (min-width: 1200px) {
  div.navbar-fixed-top {
    right: 50%;
  }
  #playlist-panel {
    top: 0;
  }
  .playlist-tab-list {
    padding-top: 13px;
  }
  .playlist-container-parent {
    top: 105px !important;
  }
}
