@import "../bower_components/bootstrap/less/variables.less";

@mediaplayer-height: 70px;
@main-color: @brand-primary;
@main-color-bright: lighten(@main-color, 20%);
@zindex-player-panel:      1032;

#search-panel{
  padding-bottom: @mediaplayer-height;
}

// use pointer-cursor for ng-click-able elements:
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

//message of the day
.motd{
    left: 50%;
    position: relative;
    width: 350px;
    margin-left: -175px;
    top: 20px;
    text-align: center;
    background-color: #F7F7F7;
    border-radius: 15px;
    padding: 10px;
    color: #AAA;
}

#playback-controls{
    height: @mediaplayer-height;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index: @zindex-player-panel;
    /* .box-shadow(~"2px 2px 3px rgba(0,0,0,.4), 0px 0px 5px rgba(0,0,0,.8)"); */
}



.jp{


    &-controls{
        position: absolute;
        padding: 0;
    }

    &-control-buttons{
        position: absolute;
        left: 50%;
        width: 240px;
        margin-left: -120px;
        bottom: 42px
    }

    &-time-holder{
        left: 0;
        top: 10px;
        width: 100%;
    }
    &-current-time{
        float: left;
        margin-left: 5px;
    }
    &-duration{
        float: right;
        margin-right: 5px;
    }

    &-toggles{
        list-style-type: none;
        padding: 0;
        position: absolute;
        bottom: 4px;
        left: 50%;
        margin-left: 130px
    }
    &-toggles li{
        display: inline-block;
    }

    &-controls li{
        display: inline;
    }
    &-volume{
        &-toggles{
            list-style: none outside none;
            position: absolute;
            left: 180px;
            padding: 0;
        }
        &-bar{
            height: 6px !important;
            position: absolute;
            width: 60px;
            top: 28px;
        }
        &-toggles li{
            display: inline;
        }
        jp-mute{
            padding: 1px 4px !important;
            top: 0;
        }
        jp-unmute{
            padding: 1px 4px !important;
            top: 0;
        }
        &-max{
            margin-left: 6px;
            padding: 1px 4px !important;
            top: 0;
        }
    }
}