@import "variables.less";


#search-panel{
  padding-bottom: @mediaplayer-height;
}

// use pointer-cursor for ng-click-able elements:
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

// make sure all dnd-list elements are relative to be draggable
*[dnd-list], *[dnd-list] > * {
    position: relative;
}
*[dnd-list] .dndDraggingSource {
    display: none;
}
*[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

// add icon to navbar
.navbar-brand {
    background-image: url("../img/favicon32glow.png");
    background-position: 49% 14px;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 50px;
    margin: 0px 5px;
}

//message of the day
.motd{
    left: 50%;
    position: relative;
    width: 350px;
    margin-left: -175px;
    top: 20px;
    text-align: center;
    background-color: #F7F7F7;
    border-radius: 15px;
    padding: 10px;
    color: #AAA;
}

#playback-controls{
    height: @mediaplayer-height;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index: @zindex-player-panel;
    /* .box-shadow(~"2px 2px 3px rgba(0,0,0,.4), 0px 0px 5px rgba(0,0,0,.8)"); */
}

.navbar-nav > li > a {
    padding-left: 7px;
    padding-right: 7px;
}
.hidden-xs {
    display: block !important;
}
.navbar-form {
    margin: 8px 0px;
    padding: 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.navbar-brand {
    float: left;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 20px;
}

.jp{


    &-controls{
        position: absolute;
        padding: 0;
    }

    &-control-buttons{
        position: absolute;
        left: 50%;
        width: 240px;
        margin-left: -120px;
        bottom: 42px
    }

    &-time-holder{
        left: 0;
        top: 10px;
        width: 100%;
    }
    &-current-time{
        float: left;
        margin-left: 5px;
    }
    &-duration{
        float: right;
        margin-right: 5px;
    }

    &-toggles{
        list-style-type: none;
        padding: 0;
        position: absolute;
        bottom: 4px;
        left: 50%;
        margin-left: 130px
    }
    &-toggles li{
        display: inline-block;
    }

    &-controls li{
        display: inline;
    }
    &-volume{
        &-toggles{
            list-style: none outside none;
            position: absolute;
            left: 180px;
            padding: 0;
        }
        &-bar{
            height: 6px !important;
            position: absolute;
            width: 60px;
            top: 28px;
        }
        &-toggles li{
            display: inline;
        }
        jp-mute{
            padding: 1px 4px !important;
            top: 0;
        }
        jp-unmute{
            padding: 1px 4px !important;
            top: 0;
        }
        &-max{
            margin-left: 6px;
            padding: 1px 4px !important;
            top: 0;
        }
    }
}