.fadeInEnter {
  opacity: 0.01;
}

.fadeInEnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fadeInLeave {
  opacity: 1;
}

.fadeInLeaveActive {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
