<div class="modal-header">
    <button class="close" ng-click="close()">&times;</button>
    <h3>About CherryMusic</h3>
</div>
<div class="modal-body">
    <div class="content">
        <img src="res/img/cherrymusic_logo_big.png" style="float: right;"/>
        <p>CherryMusic was created by <a href="http://github.com/devsnd">Tom Wallroth</a>
        and is currently developed together with <a href="http://github.com/tilboerner">Tilman B&ouml;rner</a>.</p>
        <p>Visit the <a href="http://www.fomori.org/cherrymusic">CherryMusic website</a> or get the <a href="http://www.github.com/devsnd/cherrymusic">source-code directly from github</a></p>
        <p>thanks to</p>
        <ul>
            <li><a href="www.cherrypy.org">The CherryPy team</a> for a great application server</li>
            <li><a href="http://www.happyworm.com/">HappyWorm</a> for the HTML5 audio playback</li>
            <li><a href="http://www.komponist-cmb.de">Christian Maximilian Blasius</a> for the idea for the logo!</li>
            <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a> for the nice look'n'feel of the UI</li>
            <li>6arms1leg for maintaining the package for Arch Linux</li>
            <li>Adrian Sampson for <a href="https://github.com/sampsyo/audioread">audioread</a></li>
        </ul>
        CherryMusic © 2012&ndash;2014
        <p>version <span id="cherrymusic-version" class="badge"></span></p>
    </div>
</div>