<div class="modal-header">
    <button class="close" ng-click="close()">&times;</button>
    <h3>change password</h3>
</div>
<div class="modal-body">
    <div class="content" cm-busy="isUpdating()">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="oldpassword-change" class="col-lg-4 control-label" >old password</label>
                <div class="col-lg-8">
                    <input
                        ng-model="oldPassword"
                        type="password" class="form-control" id="oldpassword-change">
                </div>
            </div>
            <div class="form-group">
                <label for="newpassword-change" class="col-lg-4 control-label" >new password</label>
                <div class="col-lg-8">
                    <input
                        ng-model="newPassword"
                        type="password" class="form-control" id="newpassword-change">
                </div>
            </div>
            <div class="form-group">
                <label for="repeatpassword-change" class="col-lg-4 control-label" >repeat new password</label>
                <div class="col-lg-8">
                    <input
                        ng-model="newPasswordConfirm"
                        type="password" class="form-control" id="newpasswordconfirm-change">
                </div>
            </div>
            <div ng-if="error">
                <div class="alert alert-danger">{{error}}</div>
            </div>
            <div class="form-actions">
                <a
                ng-click="changePassword()"
                ng-disabled="error"
                class="btn btn-default">confirm password change</a>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="close()" aria-hidden="true">Close</button>
</div>