<li class="fileinlist cm-media-list-item">
    <a title="{{label}}" href="javascript:;" class="musicfile" path="{{fileurl}}">
        <span class="glyphicon glyphicon-music"></span>
        <span class="simplelabel">
            {{label}}
        </span>
        <span class="meta-info unloaded" style="display: none" path="{{fileurl}}">
            <span class="meta-info-track"></span>
            <span class="meta-info-artist"></span> - <span class="meta-info-title"></span>
            <span class="meta-info-length"></span>
        </span>
        <span class="fullpathlabel">
            {{fullpath}}
        </span>
    </a>
</li>