<li class="{{#listview}}list-dir-item-listview{{/listview}} list-dir-item cm-media-list-item">
    <div class="list-dir-info-bar">
        {{#maychangecoverart}}
            <span class="cm-media-list-wrench glyphicon glyphicon-wrench" data-dirname="{{directoryname}}"></span>
        {{/maychangecoverart}}
        <div class="list-dir-folder-files-count">
            {{#showfoldercount}}
                {{#filescountestimate}}~{{/filescountestimate}}{{foldercount}} <span class="glyphicon glyphicon-folder-open"></span>
            {{/showfoldercount}}
            {{#showfilescount}}
                {{#filescountestimate}}~{{/filescountestimate}}{{filescount}} <span class="glyphicon glyphicon-music"></span>
            {{/showfilescount}}
            &nbsp;
        </div>
    </div>
    <div class="list-dir-cover-area">
        <a dir="{{dirpath}}" href="javascript:;" class="list-dir" title="{{dirpath}}">
            {{^isrootdir}}
                <div class="list-dir-albumart unloaded" search-data="{{coverarturl}}">
                    <img src="res/img/folder.png" />
                </div>
            {{/isrootdir}}
            <div class="list-dir-name-wrap">
                <span class="list-dir-name">{{label}}</span>
            </div>
        </a>
    </div>
</li>
